<ion-view view-title="Chats">
  <ion-content>
<div class="bar bar-header">
      <div class="h1 title">缩略图列表</div>
    </div>
    
    <div class="content has-header ionic-pseudo">

      <div class="list">

        <a class="item item-thumbnail-left" href="#">
          <img src="http://www.runoob.com/try/demo_source/blue-album.jpg">
          <h2>Weezer</h2>
          <p>Blue Album</p>
        </a>

        <a class="item item-thumbnail-left" href="#">
          <img src="http://www.runoob.com/try/demo_source/siamese-dream.jpg">
          <h2>Smashing Pumpkins</h2>
          <p>Siamese Dream</p>
        </a>

        <a class="item item-thumbnail-left" href="#">
          <img src="http://www.runoob.com/try/demo_source/nevermind.jpg">
          <h2>Nirvana</h2>
          <p>Nevermind</p>
        </a>

        <a class="item item-thumbnail-left" href="#">
          <img src="http://www.runoob.com/try/demo_source/license-to-ill.jpg">
          <h2>Beastie Boys</h2>
          <p>License To Ill</p>
        </a>

        <a class="item item-thumbnail-left" href="#">
          <img src="http://www.runoob.com/try/demo_source/dookie.jpg">
          <h2>Green Day</h2>
          <p>Dookie</p>
        </a>

      </div>

    </div>
  </ion-content>
</ion-view>
